numpy
scipy
Pillow
cython
matplotlib
scikit-image==0.16.2
tensorflow==2.7.0
keras==2.7.0
opencv-python
h5py==2.10.0
imgaug
scikit-video
ffmpeg-python
sklearn
spyder==5.0.5
qtconsole==5.1.1
pyqt5==5.12
pyqtwebengine==5.12
notebook==5.7.10
jupyter_contrib_nbextensions
IPython[all]
opencv-contrib-python
openpyxl
